.tabletext {
  text-align: center;
  font-weight: bold;
  width: 95%;
}

.textcolor {
  font-size: 13px;
  color: #14317F;

}

table td {
  padding-left: 15px;
  /* Add padding to push the content right */
}

thead th {
  background-color: #0854A0 !important;
  color: white !important;
}

.borderCustom {
  border-radius: 13px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border: none; 
 } 

.bordercolor {
  border-radius: 15px;
  border: 2px solid #4BB5FF;
}

.custom-hr {
  margin-left: -16px;
  margin-right: -16px;

}

/* .container {
        background-color: white !important;
        padding: 0;
      } */




.sheet {
  max-width: 700px;
  background-color: #fff;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  position: relative;
  /* Ensure relative positioning within the container */
  overflow: hidden;
  /* Prevent overflow from content inside */
}

.title {
  font-size: 16px;
  color: #14317F;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
  color: #14317F;
  font-weight: bold;
}

.para {
  font-size: 11px;
}

h6 {
  font-size: 12px;
}

.terms {
  max-width: 600px;
  font-size: 8px;
  /* height: 325px;
  width: 235px; */
}

table th,
table td {
  font-size: 10px;
}

.img-fluid {
  max-width: 80%;
}